<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:int="http://www.springframework.org/schema/integration"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/integration https://www.springframework.org/schema/integration/spring-integration.xsd">

    <int:gateway id="sampleGateway" service-interface="org.example.messaging.SampleGateway"
        default-request-timeout="300" default-request-channel="inboundChannel">
        <int:method name="perform" payload-expression="#args[0]">
            <int:header name="MSG_ID" expression="#args[1]" />
        </int:method>
    </int:gateway>

    <int:channel id="inboundChannel" />

    <int:splitter input-channel="inboundChannel" output-channel="taskServiceChannel"
                  ref="messageSplitter" method="splitting" />

    <bean id="taskServiceExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="${edge.messaging.service.core:16}" />
        <property name="maxPoolSize" value="${edge.messaging.service.max:16}" />
        <property name="queueCapacity" value="${edge.messaging.service.capacity:2048}" />
        <property name="threadNamePrefix" value="SampleWorker-" />
    </bean>

    <!-- expireTaskExecutor is the ThreadPoolTaskScheduler used to deal with the expired messages -->
    <bean id="expireTaskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskScheduler">
        <property name="poolSize" value="4" />
        <property name="threadNamePrefix" value="ExpireWorker-" />
    </bean>

    <!-- taskServiceChannel is the executor subscribable channel used to accept the splitting messages -->
    <bean id="taskServiceChannel" class="org.springframework.messaging.support.ExecutorSubscribableChannel">
        <constructor-arg ref="taskServiceExecutor" />
    </bean>

    <int:chain input-channel="taskServiceChannel">
        <int:transformer ref="messageTransformer" method="transform" />
        <int:aggregator ref="messageAggregator" method="aggregate" discard-channel="discardChannel"
                        group-timeout="10000" send-partial-result-on-expiry="false"
                        scheduler="expireTaskExecutor" />
        <int:service-activator ref="messageLoggingService" method="accept" />
    </int:chain>

    <int:channel id="discardChannel" />

    <int:service-activator id="discardMessageService" input-channel="discardChannel"
                           ref="messageDiscardingService" method="accept" />

</beans>